@import "default";
@import "buttons";
@import "colors";
@import "mixin";


ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  li{
    display: inline-block;
    padding: 20px;
    background: $cor-primaria;
    margin-left: 20px;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 1s ease-out;
    @include border(1px solid rgb(16, 71, 34));
    
    &:first-child{
      margin-left: 0px;
    }
    &:hover{
      transition: 1s;
      background: $cor-secundaria;
    }
    a{
      color: #fff;
      @include text-size(20);
    }
  }
}
