@import "default";
@import "buttons";
@import "colors";
@import "mixin";


ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  li{
    display: inline-block;
    padding: 20px;
    background: $cor-primaria;
    margin-left: 20px;
    cursor:pointer;
    transition: background-color 1s ease-out;
    @include border(5px solid blue);
    
    &:first-child{
      margin-left: 0px;
    }
    &:hover{
      transition: 1s;
      background: rgb(255, 255, 255);
    }
    a{
      color: $cor-secundaria;
      &:hover{
        @include hover_color(blue);
      }
    }
  }
}
